html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
  }
  
  ol, ul {
    list-style: none;
  }
  .Contact{
   
    width: 378px;
    height: 420px;
    margin: auto;
    border: 10px solid #ccc9;
    
}


  
  .name{
    height: 50px;
    margin-bottom: 20px;
    background-color: rgb(204 204 204 / 15%);
    margin-top: 20px;
  }
  .formcontact{
    width: 90%;
    margin: auto;
  }
  .headerh3{
 text-align: center;
 font-size: 1.4rem;
  }
  .headerinput{

  }
  .Enter{
    opacity: 0.5;
  }
  .email-fhone{
display: flex;
justify-content: space-between;
  }
  .email{
    background-color: rgb(204 204 204 / 15%);
    ;
flex: 1;
  }
  .Phone{
      margin-left: 20px;
    background-color: rgb(204 204 204 / 15%);

flex: 1;
  }
  .chooses{

  }
  .Please{

  }
  .message{
 height: 100px;
  }
  .submid{
background-color: black;
text-align: center;
border-radius: 20px;
  }
  .submid p{
color: blanchedalmond;
  }
  .submid i{
color: blanchedalmond;
  }
  .form{
    
    width: 378px;
    height: 500px;
    margin: 40px auto 0 auto;
    
    position: relative;
    background-image: url(./Image/DN-Trien-lam-anh-Viet-Nam-o-Phu-Quoc-BaiDN-251217-40.jpg);
  }
  .formdangnhap{
    border-radius: 5px;
  position: absolute;
  top: 40px;
  left: 30px;
  right: 30px;
  background-color: #ccc9;
  height: 80%;
  }
  input{
display: block;
margin-top: 20px;
margin-left: auto;
margin-right: auto;
height: 40px;
border-radius: 4px;
  }
  .button{
 height: 40px;
 width: 45%;
 margin: 20px auto 0 auto;
 background-color: wheat;
 border-radius: 10px ;
 text-align: center;
 line-height: 40px;
  }
  .butonsigin{
background-color: rgb(197, 90, 205)!important;
  }
  .icon{
    justify-content: center;
    margin: 20px auto 0 auto;
    display: flex;
    overflow: hidden;
}
  }
  .icon .fabook{

  }
  .fabook i{
line-height: 40px;
text-align: center;
  }
  .google{

  }
  .google i{
    line-height: 40px;
    text-align: center;
  }
  .signup{
    margin: 40px auto 0 auto;
    text-align: center;
    /* width: 100%; */
    background: white;
    width: 70px;
    border-radius: 60px;
    height: 20px;
  }
.fagl{
height: 40px;
width: 40px;
background-color: white;
display: flex;
margin-left: 5px;
border-radius: 4px;
line-height: 40px;
}