@media screen and (max-width: 1032px) {
   .row .center{
    width: 100%;
    margin-left: -100px;
   }
 /* .box img{
       height: 50%;
       width: 100% !important;
       margin-left: 0px;
   } */
   
   .box .Index .item{
      margin-left: -5%;
   }
   .boxphai{
      width: 25%;
   }
   #img{
      width: 50%;
   }
   .row .mb{
      height: 20%;
   }
 }
 @media screen and (max-width: 320px) {

 }
 #img{
   margin-left: 5%;
   width: 85%;
}
p{
  padding: 20px;
}