@media (max-width:1030px) {
    .header--contact{
        display: block;
        width: 80%;
        height: 120%;
    
    }
    .header--contact {
        height: 50%;
       display: flex;
       justify-content: space-between;
        
       
    }
    .header--contact__careers{
        display: none;
    }
}
@media (max-width:400px) {
    #showcart {
        width: 200%;
        height:15% ;
    }
    .header--logo_small{
        width: 185%;
    }
    container .container--banner_content_grid{
       
        width: 180%;
        margin-left: -10%;
    }
    container .container--banner_feedback_ele{
        margin-left: 20%;
    }
    container .footer_container{
        margin-left: 30%;
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .drink-menu{
        width: 150%;
        margin-left:10%;
    } 
    .item-wrap {
        height: 100%;
    }
    .item-wrap {
        height: 100%;
    }
    footer{
        width: 190%;
    }
   
    footer .col-3 {
        width: 40%;
        
        margin-left: 15%;
    }
    .header--contact{
        display: block;
        width: 170%;
        height: 120%;
       

    }
       .header--contact {
           height: 50%;
          display: flex;
          justify-content: space-between;
           
          
       }
       .header .header--contact__ span{
           display: none;
       }
       .bxs-note:before{
           display: none;
       }
       .header--logo_small img{
           margin-left: 20%;
       }
       .header--contact__ {
           margin-left: 0%;
           
       }
       /* trang dang nhap */
       .container{
        margin-left: 50%;
    }
    span{
        margin-left: 0;
    }
    .boxphai{
        margin-top: 00%;
        width: 80%;
        margin-left: -30%;
    }
    .boxtrai{
        width: 280%;
        margin-left: -40%;
    }
    .class{
        width: 95%;
    }
    
    .ste{
        width: 280%;
        margin-left: -45%;
    }
    .tp{
        width: 250%;
    }
}
