html, input,body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
  }
  
  ol, ul,a{
    list-style: none;
  }
  li{
    display: inline-block;
  }
  .main{
    width: 800px;
    margin: auto;
    position: relative;
  }
  .body{
    width: 1000px;
    margin: auto;
    background-color: #ccc;
  }
  .flex{
    display: flex;
    justify-content: space-between;
    align-items:center;
  }
  .headernavigation{
  width:  80%;
  margin: auto;
 
  background-color: #ccc;
  height: 100px;
 
  }
  .headerimage{

  }
  .headerimage .logo{

  }
  .headernavigation .buttonimage {
    width: 12%;
    height: 40px;
    background-color: rgb(247,120,37);
    
}


  
  .buttonimage .buyticket{

  }
  .navigation{
    
    height: 40px;
    background-color: white;
    width: 705px;
    margin: auto auto 20px auto;
  }
  .navigation li{
    padding: 10px;
  }
  .navigation .icon{
    background: #00658b;
  }
  .bodyheightimage{
    position: relative;
    height: 300px;
  }
  .bodyheightimage .bagroundimage{
    background-image: url(./images/main/image-1.jpg);
    
    height: 80%;
    width: 83%;
    top: 30px;
    left: 86px;
    /* right: 191px; */
    position: absolute;
    background-size: cover;
  }
  .bagroundimage .textback{
    position: absolute;
    bottom: 18px;
    font-weight: 100;
    color: white;
  }
  .body1{
    width: 1000px;
    margin: auto;
    height: 500px;
   
  }
  .imagefamily{
    width: 33%;
    margin-top: 10%;
    text-align: center;
  }
  .imagefamily img{
    border-radius: 100px;
  }
  .imagefamily h4{
margin: 30px;
  }
  .imagefamily p{

padding-bottom: 10px;
  }
  .imagefamily button{
    background-color: orangered;
    margin-left: 35px;
    height: 40px;
  }
  button a{
    list-style: none;
    text-decoration: none;
  }
  .bagrondbody{
    background-color: #ccc;
  }
  .body2{
    width: 1000px;
    margin: auto;
    height: 400px;
   
  }
  .main .thue{
background-color: white;
 width: 33%;
 margin: 20px;
 height: 255px;
 text-align: center;
  }
  .thue h1{
margin-bottom: 20px;
color:#0000ff94 ;
padding-top: 10px;
  }
  .thue .cam1{
    color:rgb(247,120,37)!important;
  }
  .thue h4{
 margin-bottom: 20px;
  }
  .thue .xanh{
height: 40px;
background-color:  #0000ff94;
  }
  .thue .cam{
    background-color: rgb(247,120,37)!important;
  }
  .bodyfooter{
    background-color:#191919;
  }
  .main .ticket{
    position: absolute;
    width: 35%;
    background-color: black;
    height: 270px;
    text-align: center;
    top: 48px;
    left: 35%;
    right: 40%;

 right: 40%;
 
  }
  .ticket h1{
color: white;
margin: 10px;
  }
  .ticket h3{
color: #ccc;
margin: 10px;
  }
  .ticket input{
width: 100%;
margin-bottom: 20px;
height: 30px;
  }
  .ticket button{
    width: 100%;
    height: 39px;
    background-color: #0000ffeb;
  }
  .ticket .THEXANH{
    background-color: blue;
    height: 5px;
    width: 80px;
    margin: auto;
  }
  .body3{
    width: 1000px;
    margin: auto;
    height: 50px;
   background-color: black;
   color: blanchedalmond;
  }
  span{
    color: blue;
  }