
/* .giohang {
   position: fixed;
   border-radius: 10px;
    right: 160px;
    top: 20px;
   height: 60px;
   background-image: linear-gradient(#F90, #F60);
   padding: 10px;
} */
.list_cart{
    overflow: scroll;
}
::-webkit-scrollbar-thumb{
background: #1d1c1c;
    border-radius: 5px;
}
.giohang img {
    width: 40px;
    float: left;
    margin-right: 5px;
}

.giohang span {
    font-weight: bold;
    font-size: 20px;
    margin-right: 5px;
    color: red;
    height: 40px;
    line-height: 40px;
    z-index: 99;
}

.footer {
    background-color: #1d1c1c;
    border: 1px #1d1c1c solid;
    color: #FFF;
    font-size: 0.8vw;
    border-radius: 5px;
    padding: 20px;
}
#showcart{
    position: fixed;
    background: #666;
    border-radius: 10px;
    right: -160px;
    top: -220px;
    height: 660px;
    background-image: linear-gradient( #272d40,#1d1c1c);
    padding: 10px;
}


h1 {
    margin: 20px 0px;
    font-size: 1.2vw;
    color: #F60;
}

.menu {
    background-color: black;
    color: #CCC;
    border-radius: 5px;
}

.boxtrai {
    float: left;
    width: 64%;
}

/*.boxphai {*/
/*    float: left;*/
/*    width: 24%;*/
/*}*/

.boxtitle {
    color: black;
    padding: 10px;
    background-color: #1d1c1c;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px #CCC solid;
    width: 295%;
}

.boxcontent {
    border-left: 1px #CCC solid;
    border-right: 1px #CCC solid;
    border-bottom: 1px #CCC solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 200px;
    padding: 20px;

}

.boxcontent2 {
    border-left: 1px #CCC solid;
    border-right: 1px #CCC solid;
    background-color: #EEE;
    width: 100%;
}

.boxfooter {
    padding: 10px;
    background-color: #EEE;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px #CCC solid;
    border-right: 1px #CCC solid;
    border-bottom: 1px #CCC solid;
}

.banner {
    min-height: 300px;
    width: 100%;
    text-align: center;
}

.banner img {
    height: 300px;
}

.boxsp {
    float: left;
    width: calc(32% - 10px);
    min-height: 300px;
    border: 1px #EEE solid;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    padding: 5px;
}

.boxsp input {
    width: 40px;
    position: absolute;
    right: 5px;
    bottom: 40px;
    border-radius: 5px;
    border: 1px #FC0 solid;
}

.boxsp button {
    width: 80px;
    position: absolute;
    right: 5px;
    bottom: 10px;
    background-color: #FF6600;
    border-radius: 5px;
    border: 1px #FC0 solid;
    padding: 5px 0px;
    color: #EEE;
}

.boxsp .img {
    min-height: 230px;
    text-align: center;
}

.img img {
    height: 220px;
    width: 100%;
    object-fit: cover;
}

.menu ul {
    padding: 0px 10px;
}

.menu ul li {
    list-style-type: none;
    display: inline;
    padding: 0px 15px;
}

.menu ul li a {
    color: #CCC;
    text-decoration: none;
    transition: 0.5s;
}

.menu ul li a:hover {
    color: white;
    font-size: 0.8vw;
}


/* giỏ hàng */

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #999;
    padding: 10px;
}

th,
td {
    border: 1px #CCC solid;
    text-align: center;
}

td div {
    width: calc(100% - 20px);
    padding: 0px 10px;
    text-align: right;
}

th div {
    width: calc(100% - 10px);
    padding: 0px 5px;
    text-align: left;
    font-size: 1.5rem;
}

td img {
    width: 100px;
}


/* box tài khoản*/

.formtaikhoan {
    line-height: 150%;

}

.formtaikhoan input[type="text"],
.formtaikhoan input[type="password"],
.frmcontent input[type="text"] {
    width: 90%;
    border: 1px #CCC solid;
    padding: 5px 10px;
    border-radius: 5px;

}

.formtaikhoan input[type="checkbox"] {
    border-radius: 5px;
}

.formtaikhoan input[type="submit"],
.frmcontent input[type="submit"],
.frmcontent input[type="reset"],
.frmcontent input[type="button"] {
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
    border: 1px #CCC solid;
    margin-top: 10px;
}

.formtaikhoan input[type="submit"]:hover,
.frmcontent input[type="submit"]:hover,
.frmcontent input[type="reset"]:hover,
.frmcontent input[type="button"]:hover {
    background-color: #CCC;
}

.formtaikhoan li a {
    color: teal;
    text-decoration: none;
}

.formtaikhoan li a:hover {
    color: #060;
    text-decoration: underline;
}


/* menu dọc*/

.menudoc ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menudoc ul li {
    padding: 10px 20px;
    background-color: #FFF;
    border-bottom: 1px #CCC solid;
}

.menudoc ul li a {
    color: #666;
    text-decoration: none;
}

.menudoc ul li:hover {
    background-color: #CCC;
}

.searbox input[type="text"] {
    width: 100%;
    padding: 5px -5px;
    background-color: #FFF;
    border: 1px #CCC solid;
    border-radius: 5px;
}

.top10 img {

    height: 50px;

    margin-right: 10px;
    border-radius: 5px;
    border: 1px #CCC solid;
}

.top10 a {
    color: #666;
    text-decoration: none;
}

.top10 a:hover {
    color: #000;
    text-decoration: underline;
}


/* Admin*/

.headeradmin {
    background-color: #EEE;
    border: 1px #CCC solid;
    color: #666;
    border-radius: 5px;
    padding: 0px 20px;
}

.headeradmin h1 {
    font-size: 2vw;
}

.frmtitle {
    background-color: #EEE;
    border: 1px #CCC solid;
    color: #1d1c1c;
    border-radius: 5px;
    padding: 0px 20px;
}

.frmcontent {
    padding: 20px 0px;
}

.frmdsloai table {
    width: 100%;
    border-collapse: collapse;
}

.frmdsloai table th:nth-child(1) {
    width: 10%;
    padding: 20px;
    background-color: #CCC;
}

.frmdsloai table th:nth-child(2) {
    width: 30%;
    background-color: #CCC;
}

.frmdsloai table th:nth-child(3) {
    width: 40%;
    background-color: #CCC;
}

.frmdsloai table th:nth-child(4) {
    width: 20%;
    background-color: #CCC;
}
.frmdsloai table th:nth-child(5) {
    width: 20%;
    background-color: #CCC;
}
.frmdsloai table th:nth-child(6) {
    width: 20%;
    background-color: #CCC;
}
.frmdsloai table th:nth-child(7) {
    width: 20%;
    background-color: #CCC;
}

.frmdsloai table td {
    padding: 10px 20px;
    border: 1px #CCC solid;
}


/* thong tin nhận hàng */

.thongtinnhanhang tr td {
    text-align: left;
    padding: 10px;
}

.thongtinnhanhang input {
    width: 100%;
    border: 1px #CCC solid;
    padding: 5px;
    border-radius: 5px;
}

.dongy {
    width: 150px;
    border: 1px #1d1c1c solid;
    background-image: linear-gradient(#1c1c1c,rgb(73, 71, 71));
    padding: 10px;
    border-radius: 5px;
    color: #FFF;
    font-weight: bold;
    margin: 20px;
}
.giam ul{
    display:flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;

}
.giam h2{

    padding: 10px 20px;

}
.giam ul li{
    font-size: 22px;
    margin: 10px 20px;
    list-style: none;
}
.giam button{

    background-color: #d26e4b;;
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 90%;
    margin: 20px 5%;
}
.giam input{
    width: 90%;
    margin-left: 1.75%;
    padding: 2%;
}
.phuongthuctt{
    display: flex;
    justify-content: center;

}
.phuongthuctt button{
    width: 20%;

    padding: 40px 10px;
    margin-left: 10px;
}
.phuongthuctt button i{
    font-size: 22px;
}
.dongy:hover {
    background-image: linear-gradient(#ccc, #000);
}
.thongtinnhanhang input{
    width: 90%;
    margin: 20px;
}
#showcart table #myCart tr td {
    color: white;
}
.thongtin a i{
    margin-left: 10px;
}
