@media screen and (max-width: 1032px) {
   .row .center{
    width: 80%;
    margin-left: -50px;
   }
 .box img{
       height: 50%;
       width: 100% !important;
   }
   .item{
      margin: 5px 0px;
   }
 }
 @media screen and (max-width: 320px) {

 }