.has-border {
    border: 2px solid #446084;
    padding: 15px 30px 30px;
}
label {
    color: #222;
}

label, legend {
    font-weight: bold;
    display: block;
    font-size: .9em;
    margin-bottom: .4em;
}
input, textarea, select, fieldset {
    margin-bottom: 1em;
}
textarea {
    padding-top: .7em;
    min-height: 120px;
    width: 100%;
}
.comment-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-left: -15px;
    margin-right: -15px;
}
@media (min-width: 850px){
    .comment-form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-left: -15px;
        margin-right: -15px;
    }
    .comment-form p.comment-form-author, .comment-form p.comment-form-email, .comment-form p.comment-form-url {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .comment-form>p {
        padding: 0 15px;
        width: 100%;
    }
    form p {
        margin-bottom: .5em;
    }
    p {
        margin-top: 0;
    }
}
@media (max-width:400px) {
    #showcart {
        width: 200%;
        height:10% ;
    }
    .header--logo_small{
        width: 190%;
    }
    container .container--banner_content_grid{
       
        width: 180%;
        margin-left: -10%;
    }
    container .container--banner_feedback_ele{
        margin-left: 20%;
    }
    container .footer_container{
        margin-left: 30%;
       display: flex;
       justify-content: center;
       align-items: center;
    }
    .drink-menu{
        width: 150%;
        margin-left:10%;
    } 
    .item-wrap {
        height: 300px;
    }
   .item-img{
       height: 200px;
   }
    .drink-item {
        height: 200%;
    }
    footer{
        width: 195%;
    }
   
    footer .col-3 {
        width: 40%;
        
        margin-left: 15%;
    }
    .header--contact{
        display: block;
        width: 175%;
        height: 120%;

    }
    .header--contact {
        height: 50%;
       display: flex;
       justify-content: space-between;
        
       
    }
    .header .header--contact__ span{
        display: none;
    }
    .bxs-note:before{
        display: none;
    }
    .header--logo_small img{
        margin-left: 20%;
    }
    .header--contact__ {
        margin-left: 0%;
        
    }
       /* trang dang nhap */
       .container{
           margin-left: -10%;
       }
       .boxtrai{
           width: 350%;
           margin-left: -140px;
       }
       .boxphai{
        width: 90%;
        margin-left: -45%;
        
       }
       .boxcontent{
           width: 280%;
       }
       .boxcontent2{
           width: 305%;
       }
       .searbox{
           width: 295%;
       }

     
   }
   
